
* {
  box-sizing: border-box;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.l-s {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}


.l-s h1 {
  font-family: 'Tilt Warp', cursive;
  font-size: 30px;
  text-shadow: 3px 3px 3px #ababab;
  font-weight: bolder;
  color: #040404;
  margin-bottom: 20px;
  text-align: center;
}

.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:#ffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.currency {
  width: 45%;
  height: 40px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
  color:#f0f0f8;
  background-color:  #536872;
}


#num,
#ans {
  width: 45%;
  height: 40px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  color: #555;
  background-color: rgb(179, 183, 185)
}

#ans {
  background-color: rgb(179, 183, 185);
}

.btn {
  display: block;
  width: 100%;
  height: 40px;
  margin-top: 20px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  color: #f6f6f5 ;
  background-image: linear-gradient(to right, #6e7f80 , #536872,	#708090,#536878,#36454f);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s ease-in-out;
}

.btn:hover {
  background-color:#041E42;
  background-image: none;
  color: #fff;
}

.btn:active {
  background-color: #041E42;
  background-image: none;
  color: #fff;
}
#toggle-theme{
  border: none;
  padding: 12px 16px;
  position: absolute;
  cursor: pointer;
  background-color: transparent;
  align-self: flex-start;
}

@media (min-width: 700px) {
  .container{
  flex-direction:row;
  }
}

